In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

from fastai.learner import *
from fastai.column_data import *

Data: http://files.grouplens.org/datasets/movielens/ml-latest-small.zip

In [2]:
path = "data/movie-lens/"

In [3]:
ratings = pd.read_csv(os.path.join(path, "ratings.csv"))
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
movies = pd.read_csv(os.path.join(path, "movies.csv"))
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## Collaborative filtering

In [5]:
val_idxs = get_cv_idxs(len(ratings))
wd=2e-4
n_factors = 50

In [8]:
%time cf = CollabFilterDataset.from_csv(path, 'ratings.csv', 'userId', 'movieId', 'rating')

CPU times: user 80 ms, sys: 4 ms, total: 84 ms
Wall time: 82.3 ms

In [7]:
%time learn = cf.get_learner(n_factors, val_idxs, 64, opt_fn=optim.Adam)

CPU times: user 4min 33s, sys: 3.44 s, total: 4min 36s
Wall time: 4min 36s

In [10]:
%time learn.fit(1e-2, n_cycle=2, wds=wd, cycle_len=1, cycle_mult=2)

HBox(children=(IntProgress(value=0, description='Epoch', max=3), HTML(value='')))

epoch:   0, train_loss: 0.812639, val_loss: 0.808694
epoch:   1, train_loss: 0.771247, val_loss: 0.781029
epoch:   2, train_loss: 0.612645, val_loss: 0.765481

CPU times: user 15.7 s, sys: 2.13 s, total: 17.8 s
Wall time: 14.2 s